<% include partials/header %>
<div class="edit+cell">
    <div class="ui huge header">
        Edit Word
    </div>
    <form class="ui form" action="/<%=word._id%>?_method=PUT" method="POST">
        <div class="field">
            <label >Word</label>
            <input type="text" name="word[word]" value=" <%=word.word%> ">
        </div>
        <div class="field">
            <label >Details</label>
            <textarea class="required" name="word[details]"> <%= word.details %> </textarea>
        </div>
        <button class="big ui inverted pink button">Correct my mistakes.</button>
    </form>
</div>


<% include partials/footer %>