<% include partials/header %>

<div class="index+searchbox">
    <form action="/words" method="POST">
            <input required class="index+search" type="text" placeholder="search..." name="word" autocomplete="off">
    </form>
</div>


<div class="index+body">
    <% words.forEach(function (word) { %>
    <a href="/<%=word._id%>">
        <div class="index+cell">
            <div class="index+header+container">
                <div class="index+word"><%=word.word%></div>
                <div class="index+date"><%=word.discovered.toDateString() %></div>
            </div>

            <div class="index+details">
                <p><%=word.details.substring(0,220) %>...</p>
            </div>
        </div>
    </a>
    <% }) %>
</div>

<div class="index+bottom">
    <a href="/new" class="massive fluid ui inverted pink button"><i class="plus icon"></i></a>
</div>




<% include partials/footer %>