<% include partials/header %>
    <div class="new+cell">
        <div class="ui huge header">
            New Word
        </div>
        <form class="ui form" action="/" method="POST">
            <div class="field">
                <label >Word</label>
                <input type="text" name="word[word]" placeholder="word">
            </div>
            <div class="field">
                <label >Details</label>
                <textarea class="required" name="word[details]" placeholder="Details goes here"></textarea>
            </div>
            <input class="ui violet big basic button" type="submit">
        </form>
    </div>
<% include partials/footer %>