<% include partials/header %>

    <div class="index+searchbox">
        <form action="/words" method="POST">
            <input required class="index+search" type="text" placeholder="search..." name="word" autocomplete="off">
        </form>
    </div>
    <div class="new+cell">
        <div class="ui huge header">
            New Word
        </div>
        <form class="ui form" action="/" method="POST">
            <div class="field">
                <label >Word</label>
                <input required type="text" name="word[word]" placeholder="word" autocomplete="off">
            </div>
            <div class="field">
                <label >Details</label>
                <textarea required class="required" name="word[details]" placeholder="Details goes here"></textarea>
            </div>
            <button class="big ui inverted pink button">I learnt a new word.</button>
        </form>
    </div>
<% include partials/footer %>
