.placefiller{
    margin-top: 60px;
}

.index\+body{
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 2px groove ;
    border-right: 2px groove;
}

.index\+cell{
    border-left: 3px groove;
    border-bottom: 1px groove;
    margin: 4px 5% 5px 5%;
    padding-left: 5px;
    padding-bottom: 5px;
    color: black;

}

.index\+word{
    font-weight: 500;
    font-size:25px;
    text-transform: lowercase;
}

.index\+date{
    padding-top: 3px;
    font-size:10px;
    font-weight: 100;
}

.index\+details{
    font-weight: 100;
    font-size:14px;
}

.index\+cell:visited {
    color: black;
}

.index\+cell:hover {
    color: #ff74d8;
}

.index\+searchbox {

}

.index\+search{
    margin-left: 25%;
    width: 50%;
    height: 50px;
    border-radius: 4px;
}

input {
    margin: .5rem 0;
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: center;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;

}

.index\+bottom{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
}